body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

header {
  text-align: center;
  padding: 60px;
  background: #222;
  color: white;
}

.btn {
  background: #00bcd4;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
}

textarea {
  width: 100%;
  height: 100px;
}

button {
  padding: 10px;
  margin: 5px 0;
}

.card {
  background: white;
  padding: 20px;
  margin: 10px 0;
}

.dark {
  background: #121212;
  color: white;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
